<script>
    document.addEventListener('DOMContentLoaded', function () {
        var darkModeToggle = document.getElementById('dark-mode-toggle');
        var body = document.body;

        darkModeToggle.addEventListener('click', function () {
            if (body.classList.contains('colorscheme-light')) {
                body.classList.remove('colorscheme-light');
                body.classList.add('colorscheme-dark');
            } else {
                body.classList.remove('colorscheme-dark');
                body.classList.add('colorscheme-light');
            }
        });
    });
</script>
